In [23]:
import pandas as pd
import numpy as np
from tableone import TableOne

In [24]:
df = pd.read_csv('../../data/cohort_final.csv')
df

,stay_id,MV_time_days,stay_id_1,first_ventilation_time,dayThreeTime,stay_id_2,min_pao2fio2ratio_vent,stay_id_3,ventilator_mode_yes,subject_id,...,mean_tidal_volume_observed_d1,mean_MP_d2,mean_ptina_d2,mean_peep_d2,mean_MP_ind_d2,mean_plateau_pressure_d2,mean_tidal_volume_observed_d2,mean_MP_d1_over18,mean_MP_d2_over18,mean_MP_all_over18
0,35315105,26.583333,35315105,2183-10-19T18:35:00Z,2183-10-22T18:35:00Z,35315105,24.000000,35315105,1,16124682,...,468.666667,16.471775,17.666667,9.333333,0.294327,17.666667,468.666667,0.0,0.0,1.0
1,30514767,3.625000,30514767,2127-02-09T21:27:00Z,2127-02-12T21:27:00Z,30514767,25.000000,30514767,1,16277979,...,482.750000,23.574341,19.750000,10.600000,0.447478,19.750000,482.750000,1.0,1.0,1.0
2,39442549,11.750000,39442549,2144-01-24T15:30:00Z,2144-01-27T15:30:00Z,39442549,26.000000,39442549,1,17172316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35565911,4.958333,35565911,2185-12-15T15:00:00Z,2185-12-18T15:00:00Z,35565911,26.000000,35565911,1,12388732,...,459.500000,14.262577,15.000000,8.000000,0.216850,15.000000,459.500000,0.0,0.0,0.0
4,33253990,7.250000,33253990,2169-09-02T05:00:00Z,2169-09-05T05:00:00Z,33253990,29.000000,33253990,1,12142361,...,493.000000,10.862741,17.800000,5.100000,0.273680,17.800000,493.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,33175269,5.666667,33175269,2167-11-17T14:00:00Z,2167-11-20T14:00:00Z,33175269,69.473684,33175269,1,18642064,...,461.250000,19.324461,20.875000,8.500000,0.527375,20.875000,461.250000,1.0,1.0,0.0
4742,34379501,7.541667,34379501,2132-01-12T18:20:00Z,2132-01-15T18:20:00Z,34379501,89.473684,34379501,1,14539351,...,466.166667,30.917432,27.333333,6.000000,1.387729,27.333333,466.166667,1.0,1.0,1.0
4743,37119620,4.500000,37119620,2163-04-14T16:00:00Z,2163-04-17T16:00:00Z,37119620,68.367347,37119620,1,19893454,...,353.000000,9.722629,19.500000,11.000000,0.271019,19.500000,353.000000,0.0,0.0,0.0
4744,37406379,7.833333,37406379,2138-05-21T10:00:00Z,2138-05-24T10:00:00Z,37406379,80.434783,37406379,1,16164098,...,467.000000,26.143872,19.400000,8.000000,0.638823,19.400000,467.000000,1.0,1.0,1.0
4745,39103057,13.500000,39103057,2185-06-05T14:19:00Z,2185-06-08T14:19:00Z,39103057,52.525253,39103057,1,17076438,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [25]:
df.shape

(4746, 69)

In [26]:
df.columns

Index(['stay_id', 'MV_time_days', 'stay_id_1', 'first_ventilation_time',
       'dayThreeTime', 'stay_id_2', 'min_pao2fio2ratio_vent', 'stay_id_3',
       'ventilator_mode_yes', 'subject_id', 'hadm_id', 'gender', 'dod',
       'admittime', 'dischtime', 'los_hospital', 'admission_age', 'white_race',
       'hospital_expire_flag', 'hospstay_seq', 'first_hosp_stay', 'icu_intime',
       'icu_outtime', 'los_icu', 'icustay_seq', 'first_icu_stay', 'race_group',
       'sex_female', 'los_icu_1', 'language', 'eng_prof', 'insurance',
       'private_insurance', 'mortality_in', 'mortality_90', 'disposition',
       'los_icu_survivors', 'los_icu_expired', 'anchor_age',
       'charlson_comorbidity_index', 'discharge_location', 'SOFA',
       'pao2fio2ratio_vent', 'starttime', 'intime', 'cvp', 'bicarbonate',
       'missing_cvp', 'mean_MP_all', 'mean_ptina_all', 'mean_peep_all',
       'mean_MP_ind_all', 'mean_plateau_pressure_all',
       'mean_tidal_volume_observed_all', 'mean_MP_d1', 'mean_ptina_d1',
       'mean_peep_d1', 'mean_MP_ind_d1', 'mean_plateau_pressure_d1',
       'mean_tidal_volume_observed_d1', 'mean_MP_d2', 'mean_ptina_d2',
       'mean_peep_d2', 'mean_MP_ind_d2', 'mean_plateau_pressure_d2',
       'mean_tidal_volume_observed_d2', 'mean_MP_d1_over18',
       'mean_MP_d2_over18', 'mean_MP_all_over18'],
      dtype='object')

In [27]:
df['SOFA'].value_counts()

SOFA
8     473
7     470
5     455
9     449
6     445
4     403
10    371
11    326
12    243
3     200
13    186
1     175
2     162
14    127
15     92
16     68
17     28
0      25
18     24
19     12
20      7
21      3
23      1
22      1
Name: count, dtype: int64

In [28]:
df['charlson_comorbidity_index'].value_counts()

charlson_comorbidity_index
5     646
4     639
6     603
3     554
7     483
8     373
2     369
1     298
9     266
0     232
10    152
11     69
12     36
13      8
14      8
15      6
19      2
16      1
17      1
Name: count, dtype: int64

In [29]:
df['mortality_in'].value_counts()

mortality_in
0    3537
1    1209
Name: count, dtype: int64

In [30]:
df['mortality_90'].value_counts()

mortality_90
0    3156
1    1590
Name: count, dtype: int64

In [31]:
df['los_icu'].median()

8.75

In [32]:
df.columns

Index(['stay_id', 'MV_time_days', 'stay_id_1', 'first_ventilation_time',
       'dayThreeTime', 'stay_id_2', 'min_pao2fio2ratio_vent', 'stay_id_3',
       'ventilator_mode_yes', 'subject_id', 'hadm_id', 'gender', 'dod',
       'admittime', 'dischtime', 'los_hospital', 'admission_age', 'white_race',
       'hospital_expire_flag', 'hospstay_seq', 'first_hosp_stay', 'icu_intime',
       'icu_outtime', 'los_icu', 'icustay_seq', 'first_icu_stay', 'race_group',
       'sex_female', 'los_icu_1', 'language', 'eng_prof', 'insurance',
       'private_insurance', 'mortality_in', 'mortality_90', 'disposition',
       'los_icu_survivors', 'los_icu_expired', 'anchor_age',
       'charlson_comorbidity_index', 'discharge_location', 'SOFA',
       'pao2fio2ratio_vent', 'starttime', 'intime', 'cvp', 'bicarbonate',
       'missing_cvp', 'mean_MP_all', 'mean_ptina_all', 'mean_peep_all',
       'mean_MP_ind_all', 'mean_plateau_pressure_all',
       'mean_tidal_volume_observed_all', 'mean_MP_d1', 'mean_ptina_d1',
       'mean_peep_d1', 'mean_MP_ind_d1', 'mean_plateau_pressure_d1',
       'mean_tidal_volume_observed_d1', 'mean_MP_d2', 'mean_ptina_d2',
       'mean_peep_d2', 'mean_MP_ind_d2', 'mean_plateau_pressure_d2',
       'mean_tidal_volume_observed_d2', 'mean_MP_d1_over18',
       'mean_MP_d2_over18', 'mean_MP_all_over18'],
      dtype='object')

In [33]:
df['cvp'].value_counts()

cvp
 10.0     221
 12.0     221
 15.0     212
 13.0     205
 14.0     201
         ...
 68.0       1
-17.0       1
 231.0      1
 361.0      1
 324.0      1
Name: count, Length: 91, dtype: int64

In [34]:
df['missing_cvp'].value_counts()

missing_cvp
0    2920
1    1826
Name: count, dtype: int64

In [35]:
# list of columns to be included in Table 1
columns_to_include = ['gender', 'admission_age','white_race','race_group',
       'eng_prof', 'private_insurance',
       'disposition',
       'SOFA', 'charlson_comorbidity_index', 'los_icu',
       'los_icu_survivors', 'los_icu_expired', 
       'mortality_90', 'mortality_in'    
       ]

In [36]:
df['race_group'].value_counts()

race_group
White       3199
Other        889
Black        383
Hispanic     164
Asian        111
Name: count, dtype: int64

In [37]:
df['white_race'].value_counts()

white_race
White        3199
Non-white    1547
Name: count, dtype: int64

In [38]:
# list of columns containing categorical variables
categorical = ['gender', 
       'race_group',
       'eng_prof', 'private_insurance', 
       'disposition',
       'white_race',
       # 'mechanical_pressor',
       'mortality_90', 'mortality_in']

In [39]:
# categorical variable for stratification
groupby = ['missing_cvp']

In [40]:
# list of non-normal variables
nonnormal = ['admission_age', 'SOFA', 'charlson_comorbidity_index', 'los_icu',
              'los_icu_survivors', 'los_icu_expired', ]

In [41]:
# dictionary of alternative labels:
labels={'disposition': 'discharge disposition',
       'eng_prof': 'english proficiency', 'first_code': 'first ICD code',
       'los_icu': 'length of stay in ICU', 
        'los_icu_survivors': 'length of stay in ICU for survivors',
        'los_icu_expired': 'length of stay in ICU for expired',
       'mortality_90': 'mortality in 90 days',
       'mortality_in': 'mortality in hospital'}

In [42]:
# Create an instance of TableOne with the input arguments
mytable = TableOne(df, columns=columns_to_include, categorical=categorical, groupby=groupby, nonnormal=nonnormal, rename=labels, pval=False)

InputError: The following continuous column(s) have non-numeric values: ['white_race']. Either specify the column(s) as categorical or remove the non-numeric values.

In [ ]:
# Display the table using the tabulate method. 
print(mytable.tabulate(tablefmt = "fancy_grid"))

╒═════════════════════════════════════════════════════╤══════════════════════════════╤═══════════╤══════════════════╤══════════════════╤══════════════════╕
│                                                     │                              │ Missing   │ Overall          │ Non-white        │ White            │
╞═════════════════════════════════════════════════════╪══════════════════════════════╪═══════════╪══════════════════╪══════════════════╪══════════════════╡
│ n                                                   │                              │           │ 5113             │ 1634             │ 3479             │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ gender, n (%)                                       │ F                            │ 0         │ 2051 (40.1)      │ 670 (41.0)       │ 1381 (39.7)      │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ M                            │           │ 3062 (59.9)      │ 964 (59.0)       │ 2098 (60.3)      │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ admission_age, median [Q1,Q3]                       │                              │ 0         │ 66.0 [55.0,76.0] │ 63.0 [51.0,74.0] │ 67.0 [56.0,77.0] │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ race_group, n (%)                                   │ Asian                        │ 0         │ 112 (2.2)        │ 112 (6.9)        │                  │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ Black                        │           │ 408 (8.0)        │ 408 (25.0)       │                  │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ Hispanic                     │           │ 177 (3.5)        │ 177 (10.8)       │                  │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ Other                        │           │ 937 (18.3)       │ 937 (57.3)       │                  │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ White                        │           │ 3479 (68.0)      │                  │ 3479 (100.0)     │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ english proficiency, n (%)                          │ 0                            │ 0         │ 543 (10.6)       │ 360 (22.0)       │ 183 (5.3)        │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ 1                            │           │ 4570 (89.4)      │ 1274 (78.0)      │ 3296 (94.7)      │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ private_insurance, n (%)                            │ 0                            │ 0         │ 2873 (56.2)      │ 872 (53.4)       │ 2001 (57.5)      │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ 1                            │           │ 2240 (43.8)      │ 762 (46.6)       │ 1478 (42.5)      │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ discharge disposition, n (%)                        │ Death or hospice             │ 6         │ 1352 (26.5)      │ 461 (28.2)       │ 891 (25.6)       │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ Home or equivalent           │           │ 933 (18.3)       │ 334 (20.5)       │ 599 (17.2)       │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ Other hospital or equivalent │           │ 1267 (24.8)      │ 398 (24.4)       │ 869 (25.0)       │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ Rehab                        │           │ 765 (15.0)       │ 225 (13.8)       │ 540 (15.5)       │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ Skilled nursing facility     │           │ 790 (15.5)       │ 214 (13.1)       │ 576 (16.6)       │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ SOFA, median [Q1,Q3]                                │                              │ 0         │ 7.0 [5.0,10.0]   │ 8.0 [5.0,11.0]   │ 7.0 [5.0,10.0]   │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ charlson_comorbidity_index, median [Q1,Q3]          │                              │ 0         │ 5.0 [3.0,7.0]    │ 5.0 [3.0,7.0]    │ 5.0 [3.0,7.0]    │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ length of stay in ICU, median [Q1,Q3]               │                              │ 0         │ 9.0 [5.8,14.9]   │ 8.9 [5.8,14.8]   │ 9.1 [5.8,14.9]   │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ length of stay in ICU for survivors, median [Q1,Q3] │                              │ 1766      │ 8.8 [5.6,14.5]   │ 8.9 [5.8,14.6]   │ 8.7 [5.5,14.4]   │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ length of stay in ICU for expired, median [Q1,Q3]   │                              │ 3347      │ 9.4 [5.9,15.5]   │ 8.5 [5.5,15.5]   │ 9.8 [6.1,15.4]   │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ mortality in 90 days, n (%)                         │ 0                            │ 0         │ 3347 (65.5)      │ 1052 (64.4)      │ 2295 (66.0)      │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ 1                            │           │ 1766 (34.5)      │ 582 (35.6)       │ 1184 (34.0)      │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│ mortality in hospital, n (%)                        │ 0                            │ 0         │ 3761 (73.6)      │ 1173 (71.8)      │ 2588 (74.4)      │
├─────────────────────────────────────────────────────┼──────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┤
│                                                     │ 1                            │           │ 1352 (26.4)      │ 461 (28.2)       │ 891 (25.6)       │
╘═════════════════════════════════════════════════════╧══════════════════════════════╧═══════════╧══════════════════╧══════════════════╧══════════════════╛

In [ ]:
mytable.to_excel('../../results/table1_by_missing_cvp.xlsx')

In [ ]:
mytable.to_html('../../results/table1_by_missing_cvp.html')